* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
	position:relative;
    text-align: center;
    color: red;
	
	
}



.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}






