
* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 25%;
    padding: 10px;
    position:relative;
    text-align: center;
    color: red;
	font-size:30px;
}


.column img {
    opacity: 0.8; 
    cursor: pointer; 
	
}

.column img:hover {
    opacity: 1;
	
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}



